function Game.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
call Messages.new 0
pop this 0
call Table.new 0
pop this 1
call Ball.new 0
pop this 2
push constant 0
call Paddle.new 1
pop this 3
push constant 1
call Paddle.new 1
pop this 4
push constant 0
pop this 6
push constant 0
pop this 7
push constant 1
neg
pop this 8
push constant 0
pop this 5
push pointer 0
push constant 0
call Game.start 2
pop temp 0
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call Messages.dispose 1
pop temp 0
push this 1
call Table.dispose 1
pop temp 0
push this 2
call Ball.dispose 1
pop temp 0
push this 3
call Paddle.dispose 1
pop temp 0
push this 4
call Paddle.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.setGameScreen 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
call Table.show 1
pop temp 0
push this 3
call Paddle.show 1
pop temp 0
push this 4
call Paddle.show 1
pop temp 0
push this 0
push this 6
push this 7
call Messages.score 3
pop temp 0
push constant 0
return
function Game.start 2
push argument 0
pop pointer 0
push pointer 0
call Game.setGameScreen 1
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 6
push constant 0
pop this 7
label IF_FALSE0
push this 0
push argument 1
push this 8
call Messages.box 3
pop temp 0
label WHILE_EXP0
push this 5
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 49
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 8
pop local 1
push constant 0
not
pop this 5
label IF_FALSE1
push local 0
push constant 50
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 16
pop local 1
push constant 0
not
pop this 5
label IF_FALSE2
push local 0
push constant 51
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 24
pop local 1
push constant 0
not
pop this 5
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Game.setGameScreen 1
pop temp 0
push pointer 0
push local 1
call Game.run 2
pop temp 0
push constant 0
return
function Game.run 11
push argument 0
pop pointer 0
label WHILE_EXP0
push this 5
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
call Paddle.moveUp 1
pop temp 0
label IF_FALSE0
push local 0
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
call Paddle.moveDown 1
pop temp 0
label IF_FALSE1
push this 2
call Ball.getPosX 1
pop local 1
push this 2
call Ball.getPosY 1
pop local 2
push this 3
call Paddle.getTop 1
pop local 3
push this 3
call Paddle.getBottom 1
pop local 4
push this 2
call Ball.getPlayerReturns 1
pop local 7
push local 7
push constant 4
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 256
push local 7
push constant 53
call Math.multiply 2
sub
pop local 10
label IF_FALSE2
push local 1
push local 10
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push local 3
push constant 20
add
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
call Paddle.moveUp 1
pop temp 0
label IF_FALSE4
push local 2
push local 4
push constant 20
sub
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 3
call Paddle.moveDown 1
pop temp 0
label IF_FALSE5
label IF_FALSE3
push this 4
call Paddle.getTop 1
pop local 5
push this 4
call Paddle.getBottom 1
pop local 6
push this 2
push local 3
push local 4
push local 5
push local 6
call Ball.move 5
pop local 8
push local 8
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
call Ball.getBallDirection 1
pop local 9
push local 9
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 6
push constant 1
add
pop this 6
push this 2
push constant 10
push local 3
push constant 20
add
call Ball.serve 3
pop temp 0
push this 6
push constant 3
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 1
pop this 8
push constant 0
pop this 5
push pointer 0
push constant 1
call Game.start 2
pop temp 0
label IF_FALSE8
goto IF_END7
label IF_FALSE7
push this 7
push constant 1
add
pop this 7
push this 2
push constant 496
push local 5
push constant 20
add
call Ball.serve 3
pop temp 0
push this 7
push constant 3
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 0
pop this 8
push constant 0
pop this 5
push pointer 0
push constant 1
call Game.start 2
pop temp 0
label IF_FALSE9
label IF_END7
label IF_FALSE6
push this 1
call Table.show 1
pop temp 0
push this 3
call Paddle.show 1
pop temp 0
push this 4
call Paddle.show 1
pop temp 0
push this 0
push this 6
push this 7
call Messages.score 3
pop temp 0
push argument 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
