function Paddle.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 506
push argument 0
call Math.multiply 2
add
pop this 0
push constant 107
pop this 1
push constant 4
push constant 506
push argument 0
call Math.multiply 2
add
pop this 2
push constant 147
pop this 3
push constant 2
pop this 4
push constant 1
pop this 5
push pointer 0
return
function Paddle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Paddle.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Paddle.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Paddle.draw 1
pop temp 0
push constant 0
return
function Paddle.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Paddle.draw 1
pop temp 0
push constant 0
return
function Paddle.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Paddle.hide 1
pop temp 0
push this 1
push constant 3
sub
pop this 1
push this 3
push constant 3
sub
pop this 3
push pointer 0
call Paddle.show 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Paddle.moveDown 0
push argument 0
pop pointer 0
push this 3
push constant 253
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Paddle.hide 1
pop temp 0
push this 1
push constant 3
add
pop this 1
push this 3
push constant 3
add
pop this 3
push pointer 0
call Paddle.show 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Paddle.getTop 0
push argument 0
pop pointer 0
push this 1
return
function Paddle.getBottom 0
push argument 0
pop pointer 0
push this 3
return
